<div class="footerDivider">
	<ul class="utility-nav floatLeft">
		<li><a href="/kidstop-cuties">Kidstop Cuties</a> | </li>
		<li><a href="/help">Help</a> | </li>
		<li><a href="/we-listen">We Listen</a></li>
	</ul>

	<a href="http://www.facebook.com/KidstopCape" target="_blank" class="socialMedia floatRight">
		<img src="/images/facebook.png">
	</a>
	
	<%= form_tag(	{ :controller => "newsletter", :action => "subscribe", :method => "post", :remote => true, :multipart => true },
									:class => "mailingList floatRight") do %>
		<%= label_tag :newsletter, "Join Our Mailing List" %>
		<%= text_field_tag :newsletter %>
		<%= submit_tag "Sign Up" %>
	<% end %>
</div>

<p class="floatRight">
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => RefinerySetting.find_or_set(:site_name, "Company Name")) %>
</p>
