<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>
  <body>
    <%= site_bar -%>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
		<!--<div id="page_container">-->
			<div class="wrapper">
	      <header>
	        <%= render :partial => "/shared/header" -%>
					<%= render :partial => "/shared/breadcrumb" %>
	      </header>
				<div id="page-top"></div>
	      <section id='page'>
					<div class="column-left floatLeft">
						<%= render :partial => "/shared/side_bar" %>
					</div>
	        <%= yield %>
	      </section>
				<div id="page-bot"></div>
				<div class="push"></div>
			</div>
			
      <footer>
				<% [:success, :error].each do |key| %>
				  <% if flash[key] %>
				  <div class="<%= key %>" id="flash">
				    <%= flash[key] %>
				  </div>
				  <% end %>
				<% end %>
				
        <%= render :partial => "/shared/footer" -%>
      </footer>
    <!--</div>-->

		<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js' %>		
		<%= render :partial => "/shared/javascripts" %>
		<%= render :partial => '/layouts/ga' %>
  </body>
</html>